<%= form_for :student do |f| %>
  <div class = 'row'>
    <div class="col-md-4 col-md-offset-4">
      <%= "Ім’я" %><br>
      <%= f.text_field :name, :class => 'form-control', :placeholder => "Вассисуарій" %>
    </div>
  </div>
 
  <div class = 'row'>
    <div class="col-md-4 col-md-offset-4">
      <%= "Прізвище" %><br>
      <%= f.text_field :surname, :class => 'form-control', :placeholder => "Пупкінсон"  %>
    </div>
  </div>

  <div class = 'row'>
    <div class="col-md-4 col-md-offset-4">
      <%= "По-батькові" %><br>
      <%= f.text_field :fname, :class => 'form-control', :placeholder => "Вассисуарійович"  %>
    </div>
  </div>
  
  <div class = 'row'>
    <div class="col-md-4 col-md-offset-4">
      <%= "Номер телефону" %><br>
      <%= f.text_field  :phone_number, :class => 'form-control', :placeholder => "+380ххххххх" %>
    </div>
  </div>

  <div class = 'row'>
    <div class="col-md-4 col-md-offset-4">
      <%= "Електронна скринька" %><br>
      <%= f.text_field :emails, :class => 'form-control', :placeholder => "vasissuary@pupkin.com"  %>
    </div>
  </div>
 
  <div class = 'row'>
    <div class="col-md-4 col-md-offset-4">
    <%= "Група" %>
    <%= f.text_field :group, :class => 'form-control', :placeholder => "XX-00" %>
    </div>
  </div>

  <div class = 'row'>
    <div class="col-md-4 col-md-offset-4">
    <%= "Курс" %>
    <%= f.text_field :course, :class => 'form-control', :placeholder => "1" %>
  </div>
  </div>
  
  <div class = 'row'>
    <div class="col-md-4 col-md-offset-4">
    <%= f.submit 'Зберегти', :class => 'btn btn-default' %>
    </div>
  </div>
<% end %>
<p><%= link_to 'Повернутися', student_path(@student) %></p>