<%= form_for :mark do |mark| %>
  <!--
  <div class = 'row'>
   <div class="col-md-4 col-md-offset-4">
      </div>
  </div>
  -->
 
  <div class = 'row'>
    <div class="col-md-4 col-md-offset-4">
      <%= "Викладач" %><br>
      <%= mark.text_field :professor, :class => 'form-control', :placeholder => "Іванов"  %>
    </div>
  </div>
  <!--
  <div class = 'row'>
  </div>
  -->
  <div class = 'row'>
    <div class="col-md-4 col-md-offset-4">
      <%= "Оцінка у 100 бальній системі" %><br>
      <%= mark.number_field( :points, in: 1..100, step: 1) %>
    </div>
  </div>
  

  <div class = 'row'>
    <div class="col-md-4 col-md-offset-4">
      <%= "Семестр" %><br>
      <%= mark.number_field( :semester, in: 1..12, step: 1) %>
    </div>
  </div>
 
  <div class = 'row'>
    <div class="col-md-4 col-md-offset-4">
    <%= mark.submit 'Зберегти', :class => 'btn btn-default' %>
    </div>
  </div>
<% end %>
<p><%= link_to 'Повернутися', "#{student_path(@student)}" %></p>