<div class='studentEntry'>
<td><%= @student.name %></td>
<td><%= @student.surname %></td>
<td><%= @student.fname %></td>
<td><%= @student.emails %></td>
<td><%= @student.phone_number %></td>
<td><%= @student.group %></td>
<td><%= @student.course %></td>
<% if can? :manage, @student %>
<td><%= link_to 'Видалити запис', student_path(@student),
              method: :delete,
              data: { confirm: 'Ви впевнені?' } %></td>
    </tr>
<td><%= link_to 'Редагувати', 
edit_student_path(params.merge({:student => {:id => @student.id}}) ) %>
</td>
<% end %>
<p><%= link_to 'Повернутися', '/mainbase' %></p>